#exchange-rate-container {
  width: 800px;
  padding: 20px;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

#time{
  text-align: center;
  margin-bottom: 20px;
}

.row {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input,
select {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.result-box {
  margin-top: 20px;
  padding: 1px;
  background: #85BB65;
  border-radius: 6px;
  text-align: center;
  font-size: 18px;
}

#switch-btn{

    background: #85BB65;
    border-radius: 6px;
    border-style: none;
    height: 35px;
    margin-top: 25px;
  
}

#rate {
  display: flex;
  gap: 25px;          
}

#rate .row {
  flex: 1;            
}


@media (max-width: 1080px) {

#exchange-rate-container {
  width: 600px;
  padding: 20px;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}



}

@media (max-width: 468px) {

#exchange-rate-container {
  width: 280px;
  padding: 20px;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

#time {

  font-size: 10px;
  
}


}