
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}

#brand-container {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
}

#brand-container img {
  border-radius: 40px;
  height: 45px;
}

.Navbtn {
  border-radius: 12px;
  color: rgb(0, 0, 0);
  background-color: #85BB65;
  border-style: none;
  padding: 10px;
  transition: 0.3s;
  font-family: "inter";
  font-weight: bold;
}

.Navbtn:hover{

  background: #b2ea91;
}

@media (max-width: 468px) {

   #brand-container {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 10px;
}

.Navbtn {
  border-radius: 12px;
  color: rgb(0, 0, 0);
  background-color: #85BB65;
  border-style: none;
  padding: 8px;
  transition: 0.3s;
  font-size: 10px;
  font-family: "inter";
  font-weight: bold;
}

}
